.card-container {
    display: flex;
    min-width: 328px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

.card-container .card-content {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 16px;
}

.card-container .card-content .title-desc {
    display: inherit;
    flex-direction: inherit;
}

.card-container .card-content .title-desc .title {
    color: #0D0D0E;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    display: inline-block;
}

.card-container .card-content .title-desc .desc {
    color: #808387;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    display: inline-block;
    height: 17px;
    overflow: hidden;
}

.card-container .card-content .quantity {
    display: inline-flex;
    gap: 4px;
    margin: 8px 0;
}

.card-container .card-content .quantity .weight {
    color: #0D0D0E;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.card-container .card-content .quantity .serving-info {
    color: #808387;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.card-container .card-content .pricing {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.card-container .card-content .pricing .display-price {
    color: #0D0D0E;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.card-container .card-content .pricing .discounts {
    display: inherit;
    gap: 4px;
}

.card-container .card-content .pricing .discounts .strike-price{
    color: #808387;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-decoration-line: strikethrough;
}

.card-container .card-content .pricing .discounts .discount-percent{
    color: #26955D;
    font-size: 14px;
    font-weight: 500;
}

.card-container .card-content .delivery-atc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container .card-content .delivery-atc .slot-info {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.card-container .card-content .delivery-atc .slot-info .slot {
    color:#4D4D4F;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.card-container .card-content .delivery-atc button {
    display: flex;
    width: 86px;
    height: 32px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background: #D11243;
    border: none;
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}